USE [master]
GO
/****** Object:  Database [DTDD]    Script Date: 07/11/2020 2:31:36 PM ******/
CREATE DATABASE [DTDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DTDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DTDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DTDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DTDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DTDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DTDD]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MABAOHANH] [int] NOT NULL,
	[MAKH] [char](20) NOT NULL,
	[NGAYBAOHANH] [datetime] NULL,
	[NGAYBAOHANHXONG] [datetime] NULL,
	[MALOIND] [char](21) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_bH]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_bH](
	[MABAOHANH] [int] NOT NULL,
	[MANDBH] [int] NOT NULL,
	[MALK] [char](20) NOT NULL,
 CONSTRAINT [PK_ct_bH] PRIMARY KEY CLUSTERED 
(
	[MABAOHANH] ASC,
	[MANDBH] ASC,
	[MALK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOADON_LINHKIEN]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON_LINHKIEN](
	[MALINHKIEN] [char](20) NOT NULL,
	[MAHD] [int] NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_CT_HOADON_LINHKIEN_1] PRIMARY KEY CLUSTERED 
(
	[MALINHKIEN] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ct_mua_SP]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ct_mua_SP](
	[MaHD] [int] NOT NULL,
	[MaKH] [char](20) NOT NULL,
	[MaSP] [nchar](10) NOT NULL,
	[SL] [nchar](10) NULL,
 CONSTRAINT [PK_Ct_mua_SP_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaKH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_mua_sp_lk]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_mua_sp_lk](
	[MaHD] [int] NOT NULL,
	[MaKH] [char](20) NOT NULL,
	[MaSP] [nchar](10) NOT NULL,
	[MALINHKIEN] [char](20) NOT NULL,
	[SL] [nchar](10) NULL,
 CONSTRAINT [PK_ct_mua_sp_lk] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaKH] ASC,
	[MaSP] ASC,
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NHAP_LK]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NHAP_LK](
	[MALINHKIEN] [nchar](20) NULL,
	[MANHAP] [char](20) NULL,
	[MANCC] [char](20) NULL,
	[SL] [int] NULL,
	[DONGIA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NHAP_SP]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NHAP_SP](
	[MANHAP] [char](20) NOT NULL,
	[MASP] [char](20) NOT NULL,
	[MANCC] [char](20) NOT NULL,
	[SL] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_CT_NHAP_SP] PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC,
	[MASP] ASC,
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[MADAT] [char](20) NOT NULL,
	[MAKH] [char](20) NOT NULL,
	[SL] [int] NULL,
	[NGAYDAT] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG_SP]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG_SP](
	[MADAT] [char](20) NOT NULL,
	[MASP] [char](20) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_DATHANG_SP] PRIMARY KEY CLUSTERED 
(
	[MADAT] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITRA]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITRA](
	[MADOITRA] [char](21) NOT NULL,
	[MAKH] [char](20) NOT NULL,
	[NGAYDOI] [char](21) NULL,
	[TENDOITRA] [nvarchar](51) NULL,
	[SPLay] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITRA_SP]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITRA_SP](
	[MADOITRA] [char](21) NOT NULL,
	[MASP] [char](20) NOT NULL,
	[MALOIND] [char](21) NOT NULL,
	[MALOISX] [char](20) NOT NULL,
 CONSTRAINT [PK_DOITRA_SP] PRIMARY KEY CLUSTERED 
(
	[MADOITRA] ASC,
	[MASP] ASC,
	[MALOIND] ASC,
	[MALOISX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [char](20) NOT NULL,
	[MALOAIHD] [char](20) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MaTraGop] [char](20) NULL,
	[MaNV] [char](20) NULL,
	[ChenhLech] [char](20) NULL,
	[MaDoiTra] [char](21) NULL,
	[MaBaoHanh] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](20) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [char](11) NULL,
	[DIACHI] [char](51) NULL,
	[CMND] [char](13) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [char](20) NOT NULL,
	[SL] [int] NULL,
	[MASP] [char](20) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[MALINHKIEN] [char](20) NOT NULL,
 CONSTRAINT [PK_KHO_1] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC,
	[MASP] ASC,
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKHUYENMAI] [char](20) NOT NULL,
	[MASP] [char](20) NOT NULL,
	[MALINHKIEN] [char](20) NOT NULL,
	[TENKHUYENMAI] [nvarchar](50) NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
	[GIATRI] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINHKIEN]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINHKIEN](
	[MALINHKIEN] [char](20) NOT NULL,
	[TENLINHKIEN] [nvarchar](51) NULL,
	[DONGIA] [int] NULL,
	[MAKHO] [char](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHOADON]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHOADON](
	[MALOAIHD] [char](20) NOT NULL,
	[TENLOAIHD] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [char](20) NOT NULL,
	[TENLOAI] [nvarchar](51) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOIDONGUOIDUNG]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOIDONGUOIDUNG](
	[MALOIND] [char](21) NOT NULL,
	[TENLOIND] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOIDONHASX]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOIDONHASX](
	[MALOISX] [char](20) NOT NULL,
	[TENLOISX] [nvarchar](51) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MAMANHINH] [char](20) NOT NULL,
	[TENMANHINH] [nvarchar](51) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDBaoHanh]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDBaoHanh](
	[MANDBH] [int] NOT NULL,
	[TenNDBH] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_NDBaoHanh] PRIMARY KEY CLUSTERED 
(
	[MANDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [char](20) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [char](51) NULL,
	[SDT] [char](11) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](20) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [char](20) NULL,
	[DIACHI] [char](51) NULL,
	[SDT] [char](11) NULL,
	[GIOITINH] [char](4) NULL,
	[CMND] [char](13) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAP] [char](20) NOT NULL,
	[MANV] [char](20) NOT NULL,
	[NGAYNHAP] [char](20) NULL,
	[TrangThai] [nchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOM] [char](20) NOT NULL,
	[TENNHOM] [nvarchar](50) NOT NULL,
	[GhiChu] [char](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOM] [char](20) NOT NULL,
	[MAMANHINH] [char](20) NOT NULL,
	[CoQuyen] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [char](20) NOT NULL,
	[MALOAI] [char](20) NOT NULL,
	[MAKHO] [char](20) NOT NULL,
	[TENSP] [nvarchar](51) NULL,
	[TINHTRANG] [char](4) NULL,
	[DonGia] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SP_LOI]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP_LOI](
	[MASP] [char](20) NOT NULL,
	[NGAYTHU] [nchar](10) NULL,
	[SOSERIES] [char](20) NOT NULL,
	[MALINHKIEN] [char](20) NOT NULL,
	[MADOITRA] [char](21) NOT NULL,
 CONSTRAINT [PK_SP_LOI] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[SOSERIES] ASC,
	[MALINHKIEN] ASC,
	[MADOITRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [char](20) NOT NULL,
	[MANV] [char](20) NOT NULL,
	[MATKHAU] [char](31) NULL,
	[HOATDONG] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangTT]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangTT](
	[MaHD] [int] NOT NULL,
	[TinhTrangThanhToan] [nchar](10) NULL,
	[NgayTT] [datetime] NOT NULL,
	[NgayTTTiepTheo] [datetime] NULL,
	[MANHAP] [char](20) NULL,
 CONSTRAINT [PK_TinhTrangTT] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[NgayTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tk_NND]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tk_NND](
	[TENDANGNHAP] [char](20) NOT NULL,
	[MANHOM] [char](20) NOT NULL,
 CONSTRAINT [PK_tk_NND] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC,
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraGop]    Script Date: 07/11/2020 2:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraGop](
	[MaTraGop] [char](20) NOT NULL,
	[SoTienPhaiTra] [int] NULL,
	[SoTienConLai] [int] NULL,
	[NgayTra] [date] NOT NULL,
	[deadline] [nchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BAOHANH] ([MABAOHANH], [MAKH], [NGAYBAOHANH], [NGAYBAOHANHXONG], [MALOIND]) VALUES (1, N'KH01                ', CAST(N'2020-05-22T14:06:14.917' AS DateTime), NULL, N'1                    ')
INSERT [dbo].[BAOHANH] ([MABAOHANH], [MAKH], [NGAYBAOHANH], [NGAYBAOHANHXONG], [MALOIND]) VALUES (2, N'KH01                ', CAST(N'2020-06-17T14:27:52.420' AS DateTime), NULL, N'1                    ')
INSERT [dbo].[BAOHANH] ([MABAOHANH], [MAKH], [NGAYBAOHANH], [NGAYBAOHANHXONG], [MALOIND]) VALUES (3, N'KH01                ', CAST(N'2020-06-17T14:29:56.580' AS DateTime), NULL, N'khong                ')
INSERT [dbo].[ct_bH] ([MABAOHANH], [MANDBH], [MALK]) VALUES (1, 1, N'LK01                ')
INSERT [dbo].[ct_bH] ([MABAOHANH], [MANDBH], [MALK]) VALUES (1, 1, N'TEMP                ')
INSERT [dbo].[ct_bH] ([MABAOHANH], [MANDBH], [MALK]) VALUES (1, 2, N'LK01                ')
INSERT [dbo].[CT_HOADON_LINHKIEN] ([MALINHKIEN], [MAHD], [SL]) VALUES (N'LK01                ', 213, 1)
INSERT [dbo].[CT_HOADON_LINHKIEN] ([MALINHKIEN], [MAHD], [SL]) VALUES (N'LK01                ', 214, 1)
INSERT [dbo].[CT_HOADON_LINHKIEN] ([MALINHKIEN], [MAHD], [SL]) VALUES (N'LK01                ', 215, 1)
INSERT [dbo].[Ct_mua_SP] ([MaHD], [MaKH], [MaSP], [SL]) VALUES (14, N'KH01                ', N'SP01      ', N'1         ')
INSERT [dbo].[Ct_mua_SP] ([MaHD], [MaKH], [MaSP], [SL]) VALUES (19, N'KH01                ', N'SP01      ', N'1         ')
INSERT [dbo].[Ct_mua_SP] ([MaHD], [MaKH], [MaSP], [SL]) VALUES (20, N'KH01                ', N'SP01      ', N'1         ')
GO
INSERT [dbo].[ct_mua_sp_lk] ([MaHD], [MaKH], [MaSP], [MALINHKIEN], [SL]) VALUES (213, N'KH01                ', N'SP5       ', N'LK01                ', N'2         ')
INSERT [dbo].[ct_mua_sp_lk] ([MaHD], [MaKH], [MaSP], [MALINHKIEN], [SL]) VALUES (214, N'KH01                ', N'SP5       ', N'LK01                ', N'1         ')
INSERT [dbo].[ct_mua_sp_lk] ([MaHD], [MaKH], [MaSP], [MALINHKIEN], [SL]) VALUES (289, N'KH06                ', N'SP5       ', N'TEMP                ', N'1         ')
INSERT [dbo].[CT_NHAP_LK] ([MALINHKIEN], [MANHAP], [MANCC], [SL], [DONGIA]) VALUES (N'LK01                ', N'PN35                ', N'NCC001              ', 2, 2000000)
INSERT [dbo].[CT_NHAP_LK] ([MALINHKIEN], [MANHAP], [MANCC], [SL], [DONGIA]) VALUES (N'LK03                ', N'PN38                ', N'NCC001              ', 1, 200000)
INSERT [dbo].[CT_NHAP_SP] ([MANHAP], [MASP], [MANCC], [SL], [DonGia]) VALUES (N'PN001               ', N'SP5                 ', N'NCC001              ', 2, 3)
INSERT [dbo].[CT_NHAP_SP] ([MANHAP], [MASP], [MANCC], [SL], [DonGia]) VALUES (N'PN005               ', N'SP02                ', N'NCC001              ', 2, 3)
INSERT [dbo].[CT_NHAP_SP] ([MANHAP], [MASP], [MANCC], [SL], [DonGia]) VALUES (N'PN005               ', N'SP03                ', N'NCC001              ', 1, 1)
INSERT [dbo].[DOITRA] ([MADOITRA], [MAKH], [NGAYDOI], [TENDOITRA], [SPLay]) VALUES (N'1                    ', N'KH01                ', N'06/05/2020           ', N'Ð?i máy khác', NULL)
INSERT [dbo].[DOITRA] ([MADOITRA], [MAKH], [NGAYDOI], [TENDOITRA], [SPLay]) VALUES (N'2                    ', N'KH01                ', N'07/05/2020           ', N'Ð?i máy khác', NULL)
INSERT [dbo].[DOITRA] ([MADOITRA], [MAKH], [NGAYDOI], [TENDOITRA], [SPLay]) VALUES (N'3                    ', N'KH01                ', N'07/22/2020           ', N'doi may khac', NULL)
INSERT [dbo].[DOITRA_SP] ([MADOITRA], [MASP], [MALOIND], [MALOISX]) VALUES (N'1                    ', N'SP5                 ', N'khong                ', N'1                   ')
INSERT [dbo].[DOITRA_SP] ([MADOITRA], [MASP], [MALOIND], [MALOISX]) VALUES (N'10                   ', N'SP6                 ', N'khong                ', N'1                   ')
INSERT [dbo].[DOITRA_SP] ([MADOITRA], [MASP], [MALOIND], [MALOISX]) VALUES (N'10                   ', N'SP6                 ', N'khong                ', N'2                   ')
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [MANCC], [MALOAIHD], [NGAYLAP], [MaTraGop], [MaNV], [ChenhLech], [MaDoiTra], [MaBaoHanh]) VALUES (10, N'NCC001              ', N'MLHD01              ', CAST(N'2019-11-23T20:06:20.000' AS DateTime), NULL, N'NV01                ', NULL, NULL, NULL)
INSERT [dbo].[HOADON] ([MAHD], [MANCC], [MALOAIHD], [NGAYLAP], [MaTraGop], [MaNV], [ChenhLech], [MaDoiTra], [MaBaoHanh]) VALUES (14, N'NCC001              ', N'MLHD01              ', CAST(N'2019-11-23T00:00:00.000' AS DateTime), NULL, N'NV01                ', NULL, NULL, 6)
INSERT [dbo].[HOADON] ([MAHD], [MANCC], [MALOAIHD], [NGAYLAP], [MaTraGop], [MaNV], [ChenhLech], [MaDoiTra], [MaBaoHanh]) VALUES (13, N'NCC001              ', N'MLHD01              ', CAST(N'2019-11-23T00:00:00.000' AS DateTime), NULL, N'NV01                ', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [CMND]) VALUES (N'khong               ', N'tempHoaDonNhap                                    ', N'khong      ', N'khong                                              ', N'khong        ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [CMND]) VALUES (N'KH01                ', N'Lý Thiện Thanh', N'0397299292 ', N'TPHCM                                              ', N'3432117      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI], [CMND]) VALUES (N'KH02                ', N'Phạm Tấn Dũng', N'0123456789 ', N'TPHCM                                              ', N'3298115      ')
INSERT [dbo].[KHO] ([MAKHO], [SL], [MASP], [DiaChi], [SDT], [MALINHKIEN]) VALUES (N'KHO1                ', -135, N'SP01                ', N'TPHCM', 397299292, N'TEMP                ')
INSERT [dbo].[KHO] ([MAKHO], [SL], [MASP], [DiaChi], [SDT], [MALINHKIEN]) VALUES (N'KHO1                ', -121, N'SP02                ', N'TPHCM', 397299292, N'TEMP                ')
INSERT [dbo].[KHO] ([MAKHO], [SL], [MASP], [DiaChi], [SDT], [MALINHKIEN]) VALUES (N'KHO1                ', 273, N'SP03                ', N'TPHCM', 397299292, N'TEMP                ')
INSERT [dbo].[KHUYENMAI] ([MAKHUYENMAI], [MASP], [MALINHKIEN], [TENKHUYENMAI], [NGAYBD], [NGAYKT], [GIATRI]) VALUES (N'KM1                 ', N'SP5                 ', N'TEMP                ', N'KHUYEN MAI 500', CAST(N'2020-12-04T00:00:00.000' AS DateTime), CAST(N'2020-12-05T00:00:00.000' AS DateTime), 50)
INSERT [dbo].[KHUYENMAI] ([MAKHUYENMAI], [MASP], [MALINHKIEN], [TENKHUYENMAI], [NGAYBD], [NGAYKT], [GIATRI]) VALUES (N'KM2                 ', N'SP5                 ', N'TEMP                ', N'50', CAST(N'2020-04-28T00:00:00.000' AS DateTime), CAST(N'2020-04-30T00:00:00.000' AS DateTime), 50)
INSERT [dbo].[KHUYENMAI] ([MAKHUYENMAI], [MASP], [MALINHKIEN], [TENKHUYENMAI], [NGAYBD], [NGAYKT], [GIATRI]) VALUES (N'KM3                 ', N'SP5                 ', N'LK03                ', N'TANG KEM PK', CAST(N'2020-04-28T00:00:00.000' AS DateTime), CAST(N'2020-04-30T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [DONGIA], [MAKHO]) VALUES (N'LK01                ', N'Man Hinh j7 prime                                  ', 200000, N'KHO1                ')
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [DONGIA], [MAKHO]) VALUES (N'LK02                ', N'headphone ipod', 1300000, N'KHO1                ')
INSERT [dbo].[LINHKIEN] ([MALINHKIEN], [TENLINHKIEN], [DONGIA], [MAKHO]) VALUES (N'LK03                ', N'headphone sony', 200000, N'KHO1                ')
INSERT [dbo].[LOAIHOADON] ([MALOAIHD], [TENLOAIHD]) VALUES (N'MLHD01              ', N'HDNCC               ')
INSERT [dbo].[LOAIHOADON] ([MALOAIHD], [TENLOAIHD]) VALUES (N'MLHD02              ', N'Bán Hàng')
INSERT [dbo].[LOAIHOADON] ([MALOAIHD], [TENLOAIHD]) VALUES (N'MLHD04              ', N'Bán Hàng Trả góp')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'LSP01               ', N'DT SamSung                                         ')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'LSP07               ', N'DT Sony                                            ')
INSERT [dbo].[LOIDONGUOIDUNG] ([MALOIND], [TENLOIND]) VALUES (N'khong                ', N'khong')
INSERT [dbo].[LOIDONGUOIDUNG] ([MALOIND], [TENLOIND]) VALUES (N'1                    ', N'hỏng màn hình')
INSERT [dbo].[LOIDONHASX] ([MALOISX], [TENLOISX]) VALUES (N'1                   ', N'Lỗi màn hinh')
INSERT [dbo].[LOIDONHASX] ([MALOISX], [TENLOISX]) VALUES (N'2                   ', N'loi cam ung')
INSERT [dbo].[LOIDONHASX] ([MALOISX], [TENLOISX]) VALUES (N'khong               ', N'khong')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'MH000000000000000001', N'NguoiDung                                          ')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'MH000000000000000002', N'NhomNguoiDung                                      ')
INSERT [dbo].[MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'MH000000000000000003', N'PhanQuyen                                          ')
INSERT [dbo].[NDBaoHanh] ([MANDBH], [TenNDBH], [DonGia]) VALUES (1, N'Vệ Sinh', 50000)
INSERT [dbo].[NDBaoHanh] ([MANDBH], [TenNDBH], [DonGia]) VALUES (2, N'Thay Linh Kiện', 0)
INSERT [dbo].[NDBaoHanh] ([MANDBH], [TenNDBH], [DonGia]) VALUES (3, N'Sữa Chữa', 50000)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC001              ', N'Sony', N'TPHCM                                              ', N'0123456789 ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'temp                ', N'khong', N'khong                                              ', N'khong      ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC002              ', N'xxx', N'TPHCM                                              ', N'0123456789 ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [GIOITINH], [CMND]) VALUES (N'NV01                ', N'admin                          ', N'01/01/2000          ', N'TN                                                 ', N'0397299292 ', N'Nam ', N'3497117      ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [GIOITINH], [CMND]) VALUES (N'NV02                ', N'THái', N'01/01/2000          ', N'HCM                                                ', N'0123456789 ', N'N?  ', N'0322131      ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [DIACHI], [SDT], [GIOITINH], [CMND]) VALUES (N'NV03                ', N'123', N'01/01/2000          ', N'HCM                                                ', N'0123456789 ', N'Nam ', N'0322131      ')
INSERT [dbo].[NHAPHANG] ([MANHAP], [MANV], [NGAYNHAP], [TrangThai]) VALUES (N'PN005               ', N'NV01                ', N'11/23/2019          ', N'Đã lưu              ')
INSERT [dbo].[NHAPHANG] ([MANHAP], [MANV], [NGAYNHAP], [TrangThai]) VALUES (N'PN006               ', N'NV01                ', N'11/23/2019          ', N'Đã lưu              ')
INSERT [dbo].[NHAPHANG] ([MANHAP], [MANV], [NGAYNHAP], [TrangThai]) VALUES (N'PN007               ', N'NV01                ', N'11/23/2019          ', N'50%                 ')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GhiChu]) VALUES (N'N001                ', N'Quản Lý', NULL)
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GhiChu]) VALUES (N'N002                ', N'Bán Hàng', NULL)
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GhiChu]) VALUES (N'N003                ', N'Kỹ Thuật', NULL)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MAMANHINH], [CoQuyen]) VALUES (N'N001                ', N'MH000000000000000001', 1)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MAMANHINH], [CoQuyen]) VALUES (N'N001                ', N'MH000000000000000002', 1)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MAMANHINH], [CoQuyen]) VALUES (N'N001                ', N'MH000000000000000003', 1)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MAKHO], [TENSP], [TINHTRANG], [DonGia]) VALUES (N'SP5                 ', N'LSP01               ', N'KHO1                ', N'S9                                                 ', N'new ', 10000000)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MAKHO], [TENSP], [TINHTRANG], [DonGia]) VALUES (N'SP02                ', N'LSP01               ', N'KHO1                ', N'S8                                                 ', N'new ', 50)
INSERT [dbo].[SANPHAM] ([MASP], [MALOAI], [MAKHO], [TENSP], [TINHTRANG], [DonGia]) VALUES (N'SP03                ', N'LSP07               ', N'KHO1                ', N'Xperia A1 plust                                    ', N'new ', 50)
INSERT [dbo].[SP_LOI] ([MASP], [NGAYTHU], [SOSERIES], [MALINHKIEN], [MADOITRA]) VALUES (N'SP02                ', N'27/06/2020', N'12313215656         ', N'TEMP                ', N'26                   ')
INSERT [dbo].[SP_LOI] ([MASP], [NGAYTHU], [SOSERIES], [MALINHKIEN], [MADOITRA]) VALUES (N'SP02                ', N'02/07/2020', N'1848715152152       ', N'TEMP                ', N'31                   ')
INSERT [dbo].[SP_LOI] ([MASP], [NGAYTHU], [SOSERIES], [MALINHKIEN], [MADOITRA]) VALUES (N'SP02                ', N'02/07/2020', N'9754241144          ', N'TEMP                ', N'30                   ')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MANV], [MATKHAU], [HOATDONG]) VALUES (N'admin               ', N'NV01                ', N'admin                          ', 1)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MANV], [MATKHAU], [HOATDONG]) VALUES (N'banhang             ', N'NV02                ', N'banhang                        ', 1)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MANV], [MATKHAU], [HOATDONG]) VALUES (N'admin1              ', N'NV04                ', N'admin1                         ', 1)
INSERT [dbo].[TinhTrangTT] ([MaHD], [TinhTrangThanhToan], [NgayTT], [NgayTTTiepTheo], [MANHAP]) VALUES (60, N'100       ', CAST(N'2020-04-23T00:00:00.000' AS DateTime), CAST(N'2020-04-24T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[TinhTrangTT] ([MaHD], [TinhTrangThanhToan], [NgayTT], [NgayTTTiepTheo], [MANHAP]) VALUES (110, N'50        ', CAST(N'2020-04-24T00:00:00.000' AS DateTime), CAST(N'2020-04-24T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[TinhTrangTT] ([MaHD], [TinhTrangThanhToan], [NgayTT], [NgayTTTiepTheo], [MANHAP]) VALUES (113, N'50        ', CAST(N'2020-04-24T00:00:00.000' AS DateTime), CAST(N'2020-04-24T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tk_NND] ([TENDANGNHAP], [MANHOM]) VALUES (N'admin               ', N'N001                ')
INSERT [dbo].[tk_NND] ([TENDANGNHAP], [MANHOM]) VALUES (N'admin1              ', N'N001                ')
INSERT [dbo].[tk_NND] ([TENDANGNHAP], [MANHOM]) VALUES (N'banhang             ', N'N002                ')
INSERT [dbo].[TraGop] ([MaTraGop], [SoTienPhaiTra], [SoTienConLai], [NgayTra], [deadline]) VALUES (N'1                   ', 5000025, 5000025, CAST(N'2020-04-23' AS Date), N'2020-05-23')
INSERT [dbo].[TraGop] ([MaTraGop], [SoTienPhaiTra], [SoTienConLai], [NgayTra], [deadline]) VALUES (N'10                  ', 5000000, 5000000, CAST(N'2020-04-23' AS Date), N'2020-05-23')
INSERT [dbo].[TraGop] ([MaTraGop], [SoTienPhaiTra], [SoTienConLai], [NgayTra], [deadline]) VALUES (N'10                  ', 50, 4999930, CAST(N'2020-06-18' AS Date), N'2020-05-23')
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_BAOHANH]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[BAOHANH] ADD  CONSTRAINT [PK_BAOHANH] PRIMARY KEY NONCLUSTERED 
(
	[MABAOHANH] ASC,
	[MALOIND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_DATHANG]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[DATHANG] ADD  CONSTRAINT [PK_DATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MADAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_DOITRA]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[DOITRA] ADD  CONSTRAINT [PK_DOITRA] PRIMARY KEY NONCLUSTERED 
(
	[MADOITRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADON]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_KHUYENMAI]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[KHUYENMAI] ADD  CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY NONCLUSTERED 
(
	[MAKHUYENMAI] ASC,
	[MASP] ASC,
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LINHKIEN]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[LINHKIEN] ADD  CONSTRAINT [PK_LINHKIEN] PRIMARY KEY NONCLUSTERED 
(
	[MALINHKIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LOAIHOADON]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[LOAIHOADON] ADD  CONSTRAINT [PK_LOAIHOADON] PRIMARY KEY NONCLUSTERED 
(
	[MALOAIHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LOAISANPHAM]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LOIDONGUOIDUNG]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[LOIDONGUOIDUNG] ADD  CONSTRAINT [PK_LOIDONGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MALOIND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_LOIDONHASX]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[LOIDONHASX] ADD  CONSTRAINT [PK_LOIDONHASX] PRIMARY KEY NONCLUSTERED 
(
	[MALOISX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_MANHINH]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[MANHINH] ADD  CONSTRAINT [PK_MANHINH] PRIMARY KEY NONCLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHACUNGCAP]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHAPHANG]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[NHAPHANG] ADD  CONSTRAINT [PK_NHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_NHOMNGUOIDUNG]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[NHOMNGUOIDUNG] ADD  CONSTRAINT [PK_NHOMNGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_SANPHAM]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC,
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 07/11/2020 2:31:37 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_CO5_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[BAOHANH] CHECK CONSTRAINT [FK_BAOHANH_CO5_KHACHHAN]
GO
ALTER TABLE [dbo].[CT_HOADON_LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADO_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON_LINHKIEN] CHECK CONSTRAINT [FK_CT_HOADO_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON_LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADO_CT_HOADON_LINHKIEN] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[CT_HOADON_LINHKIEN] CHECK CONSTRAINT [FK_CT_HOADO_CT_HOADON_LINHKIEN]
GO
ALTER TABLE [dbo].[Ct_mua_SP]  WITH CHECK ADD  CONSTRAINT [FK_Ct_mua_SP_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[Ct_mua_SP] CHECK CONSTRAINT [FK_Ct_mua_SP_HOADON]
GO
ALTER TABLE [dbo].[Ct_mua_SP]  WITH CHECK ADD  CONSTRAINT [FK_Ct_mua_SP_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[Ct_mua_SP] CHECK CONSTRAINT [FK_Ct_mua_SP_KHACHHANG]
GO
ALTER TABLE [dbo].[CT_NHAP_SP]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAP__CT_NHAP_S_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[CT_NHAP_SP] CHECK CONSTRAINT [FK_CT_NHAP__CT_NHAP_S_NHACUNGC]
GO
ALTER TABLE [dbo].[CT_NHAP_SP]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAP__CT_NHAP_S_NHAPHANG] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPHANG] ([MANHAP])
GO
ALTER TABLE [dbo].[CT_NHAP_SP] CHECK CONSTRAINT [FK_CT_NHAP__CT_NHAP_S_NHAPHANG]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_CO_THE_DA_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_CO_THE_DA_KHACHHAN]
GO
ALTER TABLE [dbo].[DATHANG_SP]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG__DATHANG_S_DATHANG] FOREIGN KEY([MADAT])
REFERENCES [dbo].[DATHANG] ([MADAT])
GO
ALTER TABLE [dbo].[DATHANG_SP] CHECK CONSTRAINT [FK_DATHANG__DATHANG_S_DATHANG]
GO
ALTER TABLE [dbo].[DOITRA]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_DOI_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DOITRA] CHECK CONSTRAINT [FK_DOITRA_DOI_KHACHHAN]
GO
ALTER TABLE [dbo].[DOITRA_SP]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_S_DOITRA_SP_DOITRA] FOREIGN KEY([MADOITRA])
REFERENCES [dbo].[DOITRA] ([MADOITRA])
GO
ALTER TABLE [dbo].[DOITRA_SP] CHECK CONSTRAINT [FK_DOITRA_S_DOITRA_SP_DOITRA]
GO
ALTER TABLE [dbo].[DOITRA_SP]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_S_DOITRA_SP_LOIDONGU] FOREIGN KEY([MALOIND])
REFERENCES [dbo].[LOIDONGUOIDUNG] ([MALOIND])
GO
ALTER TABLE [dbo].[DOITRA_SP] CHECK CONSTRAINT [FK_DOITRA_S_DOITRA_SP_LOIDONGU]
GO
ALTER TABLE [dbo].[DOITRA_SP]  WITH CHECK ADD  CONSTRAINT [FK_DOITRA_S_DOITRA_SP_LOIDONHA] FOREIGN KEY([MALOISX])
REFERENCES [dbo].[LOIDONHASX] ([MALOISX])
GO
ALTER TABLE [dbo].[DOITRA_SP] CHECK CONSTRAINT [FK_DOITRA_S_DOITRA_SP_LOIDONHA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LOAIHOADON] FOREIGN KEY([MALOAIHD])
REFERENCES [dbo].[LOAIHOADON] ([MALOAIHD])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LOAIHOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHACUNGCAP]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_LINHKIEN] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_LINHKIEN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMA_CT_KM_LK_LINHKIEN] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMA_CT_KM_LK_LINHKIEN]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_CO_THE_NH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_CO_THE_NH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_PHANQUYEN_MANHINH] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_PHANQUYEN_MANHINH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYE_PHANQUYEN_NHOMNGUO] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYE_PHANQUYEN_NHOMNGUO]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUOC_VE2_LOAISANP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUOC_VE2_LOAISANP]
GO
ALTER TABLE [dbo].[SP_LOI]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOI_LINHKIEN] FOREIGN KEY([MALINHKIEN])
REFERENCES [dbo].[LINHKIEN] ([MALINHKIEN])
GO
ALTER TABLE [dbo].[SP_LOI] CHECK CONSTRAINT [FK_SP_LOI_LINHKIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CO_NHANVIEN]
GO
ALTER TABLE [dbo].[TinhTrangTT]  WITH CHECK ADD  CONSTRAINT [FK_TinhTrangTT_NHAPHANG] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPHANG] ([MANHAP])
GO
ALTER TABLE [dbo].[TinhTrangTT] CHECK CONSTRAINT [FK_TinhTrangTT_NHAPHANG]
GO
ALTER TABLE [dbo].[tk_NND]  WITH CHECK ADD  CONSTRAINT [FK_tk_NND_NHOMNGUOIDUNG] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[tk_NND] CHECK CONSTRAINT [FK_tk_NND_NHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[tk_NND]  WITH CHECK ADD  CONSTRAINT [FK_tk_NND_TAIKHOAN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[tk_NND] CHECK CONSTRAINT [FK_tk_NND_TAIKHOAN]
GO
USE [master]
GO
